.navBra{
    display: flex;
    ul{
        display: flex;
    }
}

.btn-primary{
    background: #fff;
    color: #121212;
    border: none;
}

.primary{
    color: #121212;
}

.fz{
    font-size: 30px;
}